html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.PantallaPrincipal {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
    height: 100dvh;
}


/* MAIN (contenedor sidebar + content) */
.PantallaPrincipal .main {
  display: flex;
  flex: 1;
  min-height: 0;
  position: relative;
}

