.inputBuscador {

    display:flex;

    align-items:center;

    width:300px;

    height:36px;

    padding-left:14px;
    padding-right:14px;

    border:1px solid #00AEEF;

    border-radius:4px;

    background:white;
}

.inputBuscadorContenido {

    display:flex;

    align-items:center;

    justify-content:space-between;

    width:100%;
}

.inputBuscadorTextos {

    display:flex;

    flex-direction:column;

    gap:2px;

    flex:1;
}

.inputBuscadorTitulo {

    font-family:'Inter', sans-serif;

    font-size:11px;

    font-weight:600;

    color:#00AEEF;
}

.inputBuscadorInput {

    border:none;

    outline:none;

    background:transparent;

    font-family:'Inter', sans-serif;

    font-size:13px;

    font-weight:500;

    color:#6D6D6D;
}

.inputBuscadorIcono {

    display:flex;

    align-items:center;
    justify-content:center;
}