.content {
  flex: 1;
  min-height:0;
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  /* border: 12px solid rgb(0, 255, 153);  */
}

/* 
.content-body {
  position: relative;
  z-index: 1;

  flex: 1;
  border: 12px solid rgb(251, 255, 0); 
} */