/* Header.css */

.header {
  height: 70px;
  /* width: 100%; */

  display: flex;
  align-items: center;
  /* align-items: flex-start; */
  justify-content: space-between;

  padding: 0 18px;

  background: #FFFFFF;

  /* border-top: 4px solid #0096db; */
  /* border-bottom: 1px solid #FFFFFF; */

  /* box-sizing: border-box; */
  border-bottom: 1px solid #f3f3f3;
}

/* =========================
   IZQUIERDA
========================= */

.header-left {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header-logo {
  height: 28px;
  object-fit: contain;
  /* border: 1px solid red; */
 display: block;
 }

.header-page-title {
  display:flex;
  align-items:baseline;
  gap:8px;
  font-family:'Inter', sans-serif;
  color:#662D91;
  transform:translateY(6px);
}

.header-page-menu {
  font-size:19px;
  font-weight:700;
}

.header-page-separator {
  font-size:17px;
  font-weight:400;
}

.header-page-submenu {
  font-size:15px;
  font-weight:300;
}

/* =========================
   DERECHA
========================= */

.header-right {
  display: flex;
  align-items: center;
  gap: 14px;
}

.header-user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header-line1 {
  display: flex;
  align-items: center;
  gap: 6px;

  font-size: 11px;
  color: #222;
}

.header-name {
  font-family: 'Inter', sans-serif;
  font-weight: 600;   
  font-size: 12px;
  color: #231F20;
}

.header-user {
  font-family: 'Inter', sans-serif;
  font-weight: 200;   
  font-size: 12px;
  color: #231F20;
}

.header-line2 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;   
  font-size: 12px;
  color: #231F20;
}

.header-avatar {
  width: 36px;
  height: 36px;

  border-radius: 50%;
  object-fit: cover;

  border: 2px solid #e5e5e5;
}
