.menu-item {
  display: flex;
  flex-direction: column; /* 🔥 clave */
  padding: 4px;
}

.menu-main {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 4px;
  min-height: 25px;
}

 .menu-item:hover {
  background: #581F82;
}

.label {
  white-space: nowrap;   
  cursor: pointer; /* 🔥 manito */
  font-family: "Inter", sans-serif;
  font-weight: 500; /* Medium */
  font-size: 13px;
  color: #FFFFFF;
}

.icon {
  display: flex;
  justify-content: center;  
}

.icon img {
  width: 14px;
  height: 14px;
}

.sub-menu {
  display: none;
  flex-direction: column;
  margin-left: 38px; 
  margin-top: -1px;
}

.menu-item:hover .sub-menu,
.menu-item:focus-within .sub-menu {
  display: flex;
}

 .sub-menu-item {
  position: relative;
  display: flex;

  padding-top: 3px;
  padding-bottom: 2px;
  margin-left: -10px;

  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  font-weight: 300; /* Regular */
  font-size: 12px;
  color: #FFFFFF;
}

.sub-icon {
  top: 50%;
  visibility: hidden;
}

.sub-menu-item:hover .sub-icon {
  visibility: visible;
}

.sub-menu-item:hover {
  background: #581F82;
  font-weight: bold;
}

/* SIDEBAR */
.sidebar {  
  width: 30px;
  background: #662D91; 
  height: 100%;
  position: relative;
  flex-shrink: 0;
}

/* SIDEBAR INTERNA */
.sidebar-top {
    margin-top: 12px;
}

/* .sidebar-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 100%;
  background:#662D91;
  color: white;
  transition: width 0.3s ease;
  z-index: 10;

  overflow-x: visible;
  overflow-y: visible;
} */

.sidebar-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 100%;
  background:#662D91;
  color: white;
  transition: width 0.3s ease;
  z-index: 100;

  overflow-x: visible;
  overflow-y: visible;

  display: flex;
  flex-direction: column;
}

/* EXPANSIÓN */
.sidebar-inner.expanded {
  width: 200px;
    /* border: 3px solid red !important; */
}

/* OCULTAR LABEL CUANDO ESTÁ COLAPSADO */
.sidebar-inner:not(.expanded) .label {
  display: none;
}

.sidebar-scroll-content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar-bottom {
  margin-bottom: 10px;
  margin-top: auto;
}


.search-input-wrapper {
  position: relative;

  margin-left: 8px;
  margin-top: 16px;
}

.search-input {
  width: 140px;
  height: 28px;

  background: #5B2386;
  border: none;
  border-radius: 4px;

  padding-left: 12px;
  padding-right: 30px;

  color: white;

  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-style: italic;
  font-weight: 200;

  outline: none;
}

.search-input::placeholder {
  color: white;
}

.search-input-icon {
  position: absolute;

  right: 20px;
  top: 50%;

  transform: translateY(-50%);

  font-size: 14px;
  color: white;

  pointer-events: none;
}


/* .sidebar-scroll {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  touch-action: pan-y;
  -webkit-overflow-scrolling: touch;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.sidebar-scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
} */

.sidebar-scroll {
  flex: 1;
  min-height: 0;

  overflow-y: auto;
  overflow-x: hidden;

  touch-action: pan-y;
  -webkit-overflow-scrolling: touch;

  scrollbar-width: none;
  -ms-overflow-style: none;
}


.sidebar-scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}
