.inputFecha {
    display:flex;
    flex-direction:column;
}

.inputFechaContenido {
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:85px;
    height:36px;
    padding-left:12px;
    padding-right:12px;
    border:1px solid #00AEEF;
    border-radius:8px;
    background:white;
}

.inputFechaTexto {
    display:flex;
    flex-direction:column;
    gap:2px;
}

.inputFechaTitulo {
    font-family:'Inter', sans-serif;
    font-size:9px;
    font-weight:500;
    color:#00AEEF;
    line-height:1;
}

.inputFechaInput {
    border:none;
    outline:none;
    width:100%;
    font-family:'Inter', sans-serif;
    font-size:12px;
    font-weight:500;
    color:#6D6D6D;
    background:transparent;
    padding:0;
    margin:0;
}

.inputFechaInput::placeholder {
    color:#6D6D6D;
}

.inputFechaIcono {
    display:flex;
    align-items:center;
    justify-content:center;
}

.inputFechaIcono img {
    width:14px;
    height:14px;
    object-fit:contain;
}

.react-datepicker {
    font-family:"Inter",sans-serif;
    border:1px solid #00AEEF;
    border-radius:8px;
}

.react-datepicker {
    border:1px solid #00AEEF !important;
    border-radius:8px !important;
    overflow:hidden;
}


.react-datepicker__header {
    background:#FFFFFF;
    border-bottom:1px solid #00AEEF;
}

.react-datepicker__current-month {
    color:#00AEEF !important;
    font-size:14px;
    font-weight:700;
}

.react-datepicker__day-name {
    color:#00AEEF !important;
    font-weight:600;
}

.react-datepicker__day {
    color:#00AEEF;
}

.react-datepicker__day:hover {
    background:#E3F4FB;
}

.react-datepicker__day--selected {
    background:#00AEEF !important;
    color:white !important;
    border-radius:6px;
}

.react-datepicker__month-dropdown-container select,
.react-datepicker__year-dropdown-container select {
    border:1px solid #00AEEF;
    border-radius:6px;
    font-family:"Inter",sans-serif;
    color:#00AEEF;
    background:white;
    height:28px;
}

.react-datepicker__navigation-icon::before {
    border-color:#00AEEF;
}

.react-datepicker__header {
    background:#DCECF3 !important;
    border-bottom:1px solid #00AEEF !important;
}

.react-datepicker__triangle::before {
    border-bottom-color:#00AEEF !important;
}


.react-datepicker__triangle::before {
    border-bottom-color:#00AEEF !important;
}

.react-datepicker__triangle::after {
    border-bottom-color:#DCECF3 !important;
}